<html>
<head>
    <h1>Hello iNeuron</h1>
</head>
<body>
<h2>How are you.......</h2>
<p>You can select any image.....</p>

<form action = "/upload_file" method = "POST" enctype = "multipart/form-data">
    <label for="myfile"><b>Select a file (only image)  </b></label>
    <input type="file" id="myfile" name="myfile">
    <input type="submit">
</form>

 <div style="width: 100%; overflow: hidden;">
     <div style="width: 50%; float: left;">
{% if filename_ %}
<img src="{{url_for ('static', filename='images/'+filename_) }} " class="img-fluid animated" alt="">
{% endif %}
          </div>
     <div style="margin-left: 50%;">

{% autoescape false %}
<p>{{text | replace(",", "<br/>")}}</p>
{% endautoescape %}

          </div>
</div>
<script>
function myFunction() {
  document.getElementById("myForm").submit();
}
</script>


</body>
</html>